schema/atmospheric.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:2533:tech:xsd"
           xmlns:iso="urn:iso:std:iso:2533:tech:xsd"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      XML Schema for the Atmospheric gem (ISO 2533:2026 Standard Atmosphere).
      Defines the XML serialization format for atmospheric property tables.

      Namespace: urn:iso:std:iso:2533:tech:xsd
      All elements are qualified in this namespace.

      Unit conventions:
        - Altitudes: m (metres), ft (feet)
        - Temperature: K (kelvin), degC (degrees Celsius)
        - Pressure: mbar (millibars), mm_Hg (millimetres of mercury)
        - Density: kg*m^-3 (kilograms per cubic metre)
        - Speed: m*s^-1 (metres per second)
        - Viscosity: Pa*s (pascal-seconds), m^2*s^-1 (square metres per second)
        - Thermal conductivity: W*m^-1*K^-1 (watts per metre-kelvin)
        - Length: m (metres)
        - Weight: N*m^-3 (newtons per cubic metre)
        - Number density: m^-3 (per cubic metre)
        - Frequency: s^-1 (per second)
    </xs:documentation>
  </xs:annotation>

  <!-- ============================================================ -->
  <!-- Top-level root elements                                       -->
  <!-- ============================================================ -->

  <xs:annotation>
    <xs:documentation>
      Root elements:
        - atmospheric: polymorphic container supporting two variants:
            1. Combined altitude attributes table (by-geometric / by-geopotential)
            2. Hypsometrical table (pressure to altitude)
        - atmosphere-attributes: single altitude attributes record
        - hypsometrical-attributes: single pressure-to-altitude record
        - attributes-group: standalone wrapper for multiple atmosphere-attributes
        - unit-value-float: standalone float value with units
        - unit-value-integer: standalone integer value with units
    </xs:documentation>
  </xs:annotation>

  <xs:element name="atmospheric" type="iso:atmospheric-type"/>

  <xs:element name="atmosphere-attributes" type="iso:atmosphere-attributes-type">
    <xs:annotation>
      <xs:documentation>
        Full atmospheric attributes record for a single altitude. Contains all
        physical properties defined in ISO 2533:2026: altitudes, temperature,
        pressure, density, gravity acceleration, and derived quantities.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="hypsometrical-attributes" type="iso:hypsometrical-attributes-type">
    <xs:annotation>
      <xs:documentation>
        Hypsometrical attributes record mapping a given pressure to geometric
        and geopotential altitudes.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="attributes-group" type="iso:attributes-group-type">
    <xs:annotation>
      <xs:documentation>
        Standalone wrapper for a collection of atmosphere-attributes records.
        Used when grouping multiple altitude records without the combined
        by-geometric / by-geopotential structure.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="unit-value-float" type="iso:unit-value-float-type"/>
  <xs:element name="unit-value-integer" type="iso:unit-value-integer-type"/>

  <!-- ============================================================ -->
  <!-- Simple types                                                  -->
  <!-- ============================================================ -->

  <xs:simpleType name="precision-type">
    <xs:annotation>
      <xs:documentation>
        Precision mode used for atmospheric calculations.
        - reduced: fewer significant digits, faster computation
        - normal: standard precision for general use
        - high: maximum precision for scientific applications
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="reduced"/>
      <xs:enumeration value="normal"/>
      <xs:enumeration value="high"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Unit value complex types                                      -->
  <!-- ============================================================ -->

  <xs:complexType name="unit-value-float-type">
    <xs:annotation>
      <xs:documentation>
        A floating-point value with optional units (UnitsML notation) and a
        required type indicator. The unitsml attribute specifies measurement
        units (e.g., "m", "kg*m^-3", "mbar"). The type attribute is always
        "float" for this type.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="unitsml" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="required" fixed="float"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="unit-value-integer-type">
    <xs:annotation>
      <xs:documentation>
        An integer value with optional units (UnitsML notation) and a required
        type indicator. The unitsml attribute specifies measurement units
        (e.g., "m", "ft"). The type attribute is always "integer" for this type.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="unitsml" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="xs:string" use="required" fixed="integer"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Atmospheric root type (polymorphic)                           -->
  <!--                                                               -->
  <!-- Two variants:                                                 -->
  <!--   1. HypsometricalTable: sequence of hypsometrical-attributes -->
  <!--   2. ISO 2533:2026 table: by-geometric / by-geopotential     -->
  <!-- ============================================================ -->

  <xs:complexType name="atmospheric-type">
    <xs:annotation>
      <xs:documentation>
        Polymorphic root container. Supports two content models:
        1. Combined altitude attributes table with separate sections for
           geometric and geopotential altitude lookups.
        2. Hypsometrical table mapping pressures to altitudes.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <!-- Variant 1: Combined altitude attributes table -->
      <xs:sequence>
        <xs:element name="by-geometric-altitude" type="iso:by-altitude-type">
          <xs:annotation>
            <xs:documentation>
              Section containing atmospheric attributes indexed by geometric altitude.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="by-geopotential-altitude" type="iso:by-altitude-type">
          <xs:annotation>
            <xs:documentation>
              Section containing atmospheric attributes indexed by geopotential altitude.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <!-- Variant 2: Hypsometrical table (pressure to altitude) -->
      <xs:sequence>
        <xs:element name="hypsometrical-attributes"
                    type="iso:hypsometrical-attributes-type"
                    maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

  <!-- By-altitude section wrapper (ISO 2533:2026) -->
  <xs:complexType name="by-altitude-type">
    <xs:annotation>
      <xs:documentation>
        Wrapper for a collection of atmospheric-attributes records,
        all indexed by the same altitude type (geometric or geopotential).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="atmospheric-attributes"
                  type="iso:atmosphere-attributes-type"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Atmosphere attributes type (ISO 2533:2026 full record)        -->
  <!-- ============================================================ -->

  <xs:complexType name="atmosphere-attributes-type">
    <xs:annotation>
      <xs:documentation>
        Complete atmospheric attributes record for a single altitude. Contains
        primary properties (altitude, temperature, pressure, density, gravity),
        secondary ratios and transport properties, and derived molecular
        properties. Each property may appear multiple times with different
        units. The precision element records the calculation precision mode used.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- Altitudes -->
      <xs:element name="geometric-altitude"
                  type="iso:unit-value-integer-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Geometric altitude above sea level (e.g., m, ft).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="geopotential-altitude"
                  type="iso:unit-value-integer-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Geopotential altitude (e.g., m, ft).</xs:documentation>
        </xs:annotation>
      </xs:element>

      <!-- Group One: primary atmospheric properties -->
      <xs:element name="temperature"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Atmospheric temperature (K or degC).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pressure"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Atmospheric pressure (mbar or mm_Hg).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="density"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Air density (kg*m^-3).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="acceleration"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Acceleration due to gravity (m*s^-2).</xs:documentation>
        </xs:annotation>
      </xs:element>

      <!-- Group Two: secondary atmospheric properties -->
      <xs:element name="ppn"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Pressure ratio (dimensionless).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rhorhon"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Density ratio rho/rho_0 (dimensionless).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sqrt-rhorhon"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Square root of density ratio (dimensionless).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="speed-of-sound"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Speed of sound (m*s^-1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dynamic-viscosity"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Dynamic viscosity (Pa*s).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kinematic-viscosity"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Kinematic viscosity (m^2*s^-1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thermal-conductivity"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Thermal conductivity (W*m^-1*K^-1).</xs:documentation>
        </xs:annotation>
      </xs:element>

      <!-- Group Three: derived atmospheric properties -->
      <xs:element name="pressure-scale-height"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Pressure scale height (m).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specific-weight"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Specific weight of air (N*m^-3).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="air-number-density"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Number density of air molecules (m^-3).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mean-speed"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Mean speed of air molecules (m*s^-1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frequency"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Collision frequency of air molecules (s^-1).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mean-free-path"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Mean free path of air molecules (m).</xs:documentation>
        </xs:annotation>
      </xs:element>

      <!-- Precision mode -->
      <xs:element name="precision" type="iso:precision-type">
        <xs:annotation>
          <xs:documentation>
            Precision mode used for atmospheric calculations in this record.
            One of: reduced, normal, high.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Hypsometrical attributes type (pressure to altitude)          -->
  <!-- ============================================================ -->

  <xs:complexType name="hypsometrical-attributes-type">
    <xs:annotation>
      <xs:documentation>
        Record mapping a given atmospheric pressure to geometric and
        geopotential altitudes. Used for hypsometrical (pressure-based)
        altitude lookups.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="pressure"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Atmospheric pressure (mbar or mm_Hg).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="geometric-altitude"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Geometric altitude above sea level (m or ft).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="geopotential-altitude"
                  type="iso:unit-value-float-type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Geopotential altitude (m or ft).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Attributes group type (ISO 2533:2026 standalone wrapper)      -->
  <!-- ============================================================ -->

  <xs:complexType name="attributes-group-type">
    <xs:annotation>
      <xs:documentation>
        Standalone wrapper for a collection of atmospheric-attributes records.
        Provides a flat list alternative to the combined by-geometric /
        by-geopotential structure.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="atmospheric-attributes"
                  type="iso:atmosphere-attributes-type"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
